<section class="bg-teal-800 text-white py-12 overflow-hidden mb-10">
    <div class="max-w-2xl mx-auto text-center">
        <h6 class="text-white text-center mt-5 mb-4 pb-0">READY TO GET STARTED</h6>
        <h2 class="text-3xl font-bold mb-10">
            Get The Latest Insurance News In Minutes
        </h2>
        <form action="#" method="post" class="flex justify-center">
            <input type="email" name="email" id="email" placeholder="Email Address" required class="p-3 rounded-l-md w-64 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-50">
            <button type="submit" class="bg-teal-500 text-white py-3 px-6 rounded-r-md hover:bg-teal-400">Subscribe Now ></button>
        </form>
    </div>
</section>

