<section class="bg-gray-100">
    <h1 class="text-center text-5xl font-bold bg-gray-200 py-4 mt-5">Life Insurance That Creates Wealth For Everyone</h1>
    <h6 class="text-teal-700 text-center mt-5 mb-0 pb-0">ABOUT SECURESMARTER INSURANCE WEB AGGREGATOR PRIVATE LIMITED</h6>
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-center p-5">
        <div class="flex flex-wrap justify-center">
            <div class="bg-white rounded-lg shadow-md p-6 m-4 w-72">
                <h2 class="text-teal-600 text-xl font-bold mb-2">Instant Policy Issuance</h2>
                <p class="text-gray-700 mb-4">Days are gone when you used to spend hours or even days in queues or chasing agents for doing paperwork for your insurance policy .Get your insurance issued instantly with SSPolicy. </p>
                <a href="#" class="no-underline inline-block bg-teal-600 text-white py-2 px-4 rounded hover:bg-teal-500">Take a look ></a>
            </div>

            <div class="bg-white rounded-lg shadow-md p-6 m-4 w-72">
                <h2 class="text-teal-600 text-xl font-bold mb-2">Latest technology & Multilingual platform</h2>
                <p class="text-gray-700 mb-4">SSpolicy is using AI powered interactive and voice assisted tools to help its customers to select best policy at affordable rate. The Platform is available in Multiple languages used in whole India.</p>
                <a href="#" class="no-underline inline-block bg-teal-600 text-white py-2 px-4 rounded hover:bg-teal-500">Take a look ></a>
            </div>

            <div class="bg-white rounded-lg shadow-md p-6 m-4 w-72">
                <h2 class="text-teal-600 text-xl font-bold mb-2">Dedicated Support Team</h2>
                <p class="text-gray-700 mb-4">Our dedicated support team is available for your assistance all the 7 days. Feel free to reach out to us in case of any confusion - be it related to the purchase of an insurance policy or assistance during the settlement of a claim, our team of experts is at your service all days.</p>
                <a href="#" class="no-underline inline-block bg-teal-600 text-white py-2 px-4 rounded hover:bg-teal-500">Take a look ></a>
            </div>

            <div class="bg-white rounded-lg shadow-md p-6 m-4 w-72">
                <h2 class="text-teal-600 text-xl font-bold mb-2">Customizable Insurance Plans</h2>
                <p class="text-gray-700 mb-4">Tailor your insurance coverage to fit your unique needs. Choose from a variety of options, including personal, family, and business plans, ensuring you have the right protection when you need it most.</p>
                <a href="#" class="no-underline inline-block bg-teal-600 text-white py-2 px-4 rounded hover:bg-teal-500">Take a look ></a>
            </div>
            
            
        </div>
        <img src="assets/family.jpg" alt="Boy Guvi" class="max-w-full h-auto mt-5 md:mt-0 md:ml-5">
    </div>
</section>
<section class="bg-white my-16">
    <div class="flex flex-col items-center justify-center text-center">
        <img src="assets/records.png" alt="records" class="w-full">
    </div>
</section>

